* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    outline: none;
}

.logo > img {
    width: 70px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.header {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name-container {
    display: flex;
    gap: 1rem;

}

.content {
    display: flex;
    justify-content: center;
}

.checkout-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;          
}

.phone-email-container {
    display: flex;
    gap: 1rem;  
}

.address-top-container > .sub-form > input {

    width: 80%;
}

.address-top-container > .sub-form {
    width: 100%;

}

.address-top-container {

    width: 100%;
}

.address-bot-container {
    display: flex;
    gap: 1rem;
}

.address-bot-container > .sub-form:nth-child(1) {
    width: 77%;
}

.address-bot-container > .sub-form:nth-child(2) {

}

.address-bot-container > .sub-form > input {
    width: 75%;
}

.address-bot-container > .sub-form > select {
}

.address-top-container {
    display: flex;
}
